html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: black;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
  opacity: .375;
  text-decoration: none;
}
::-moz-selection { /* Code for Firefox */
  background: white;

}
::selection {
  background: white;
}
body {
  margin: 12% calc(31% - 182.4px);
  font-size: calc(2vw + 19.2px);
  font-family: sans-serif;
  line-height: 1.25;
  opacity: .75;
  letter-spacing: -0.05em;
  background-color: snow;
}
@media only screen and (max-width: 640px) {
  body {
    margin: 15vh 2vh;
    font-size: 8vw;
  }
}
.headline {
  text-align: left;
  font-size: 100%;
  margin-bottom: 1.25em;
  font-weight:500;
}
.menu {
  font-size: 90%;
  font-weight: 400;
}

.nav ul {
  display: flex;
  padding-left: 0;
  margin-top: 18vh;
}

.nav ul li {
  list-style:none;
  flex: 0 0 33.333333%
}

li:last-child {
  text-align: right;
}

li:nth-child(2) {
  text-align: center;
}
